/* Start Variables */

/* End Variables */


/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
    background: radial-gradient(#ffffff,#a0a0a0);
  }
  body {
    font-family: "Work Sans", sans-serif;
    
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
/* End Global Rules */
/*----------------------------------------------------*/
.log
{
margin-top: 15px;
}
.links
{
    float: right;
    margin-top:35px;
}
li
{
    display: inline-block;
    margin-right:100px;
    font-family: "Work Sans", sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 3px #ababab;
}
a{
    text-decoration: none;
	color: black;
}

.homepage{
	position: relative;
	min-height: 100vh;
	padding-top:200px;
    padding-left: 40px;
	display: flex;
	justify-content: left;
	flex-direction: column;
	align-items: center;
	background-size: cover;	
}
img
{
margin-right: 100px;
}
.filmpage{
	position: relative;
	min-height: 100vh;
	padding-top:100px;
    padding-left: 50px;
	display: flex;
	justify-content: left;
	flex-direction: column;
	align-items: center;
	background-size: cover;	
    
    
}

.contacpage{
	position: relative;
	min-height: 100vh;
	padding-top:100px;
    padding-left: 50px;
	display: flex;
	justify-content: left;
	flex-direction: column;
	align-items: center;
	background-size: cover;	
    
    
}

.resrve
{

padding-left: 450px;

}